*{
    margin: 0;
    padding: 0;
}

.container{
    margin: 0 auto;
    max-width: 26rem;
}

.card{
    background-color: #FFFFFF;
    border-radius: 1rem;
    box-shadow: 1rem 1rem #F2F5F9;
}

.images{
    position: relative;
}

.hero{
    width: 100%;
    border-radius: 1rem 1rem 0 0;
}

.overlay{
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
}

.div1{
    padding: 0 2rem 0;
}

h1{
    color: #111729;
    font-family: 'Poppins', sans-serif;
    font-size: 1.5rem;
}

.p1{
    color: #677489;
    font-family: 'Lato', sans-serif;
    font-size: 1rem;
    margin: 1.5rem 0 0;
}

hr{
    border: 1px solid #F2F5F9;
    margin: 1.5rem 0 1.5rem;
}

.div2{
    font-family: 'Lato', sans-serif;
    padding: 0 2rem 2rem;
    display: flex;
    align-items: center;
    gap: 1rem;
}

.avatar{
    width: 2.5rem;
    height: 2.5rem;
    border-radius: 50%;
}

h2{
    color: #111729;
    font-size: 1rem;
}

.p2{
    color: #677489;
}